.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 906px;
    position: relative;
}

.home-page .section {
    position: absolute;
    width: 1440px;
    height: 236px;
    top: 670px;
    left: -1px;
    background-color: #f7f7f7;
}

.home-page .frame {
    gap: 38px 38px;
    top: 173px;
    left: 286px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.home-page .headshot {
    position: relative;
    width: 369.33px;
    height: 432px;
}

.home-page .text-wrapper {
    position: relative;
    width: 460px;
    height: 432px;
    margin-top: -1.00px;
    font-family: var(--subheading-font-family);
    font-weight: var(--subheading-font-weight);
    color: #000000bf;
    font-size: var(--subheading-font-size);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    font-style: var(--subheading-font-style);
}

.home-page .group {
    position: absolute;
    width: 1272px;
    height: 60px;
    top: 52px;
    left: 80px;
}

.home-page .frame-2 {
    gap: 48px 48px;
    top: 0;
    left: 783px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.home-page .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.home-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #ffffff;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.home-page .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.home-page .julia-lokerson {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.about {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about .div {
    background-color: #ffffff;
    width: 1440px;
    height: 2172px;
    position: relative;
}

.about .copy {
    width: 704px;
    height: 455px;
    top: 221px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-s);
    position: absolute;
}

.about .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: #000000;
    font-size: var(--title-font-size);
    text-align: center;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
}

.about .paragraph {
    margin-bottom: -95.00px;
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.about .overlap {
    position: absolute;
    width: 186px;
    height: 60px;
    top: 51px;
    left: 80px;
}

.about .julia-lokerson {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.about .copy-2 {
    width: 714px;
    height: 456px;
    top: 834px;
    left: 612px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-s);
    position: absolute;
}

.about .text-wrapper-2 {
    position: relative;
    width: 711px;
    height: 77px;
    margin-top: -1.00px;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: #000000;
    font-size: var(--title-font-size);
    text-align: center;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
}

.about .p {
    margin-bottom: -94.00px;
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.about .headshot {
    position: absolute;
    width: 479px;
    height: 594px;
    top: 208px;
    left: 831px;
}

.about .image {
    position: absolute;
    width: 369px;
    height: 354px;
    top: 873px;
    left: 128px;
    object-fit: cover;
}

.about .img {
    position: absolute;
    width: 444px;
    height: 128px;
    top: 1237px;
    left: 80px;
    object-fit: cover;
}

.about .overlap-group {
    position: absolute;
    width: 542px;
    height: 418px;
    top: 1447px;
    left: 764px;
}

.about .group {
    position: absolute;
    width: 542px;
    height: 418px;
    top: 0;
    left: 0;
}

.about .image-2 {
    position: absolute;
    width: 124px;
    height: 124px;
    top: 23px;
    left: 0;
    object-fit: cover;
}

.about .overlap-2 {
    position: absolute;
    width: 459px;
    height: 282px;
    top: 0;
    left: 83px;
}

.about .image-3 {
    position: absolute;
    width: 108px;
    height: 120px;
    top: 162px;
    left: 0;
    object-fit: cover;
}

.about .overlap-3 {
    position: absolute;
    width: 405px;
    height: 282px;
    top: 0;
    left: 54px;
}

.about .overlap-group-2 {
    position: absolute;
    width: 265px;
    height: 276px;
    top: 6px;
    left: 88px;
}

.about .image-4 {
    position: absolute;
    width: 110px;
    height: 124px;
    top: 150px;
    left: 0;
    object-fit: cover;
}

.about .image-5 {
    position: absolute;
    width: 112px;
    height: 126px;
    top: 150px;
    left: 153px;
}

.about .image-6 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 66px;
    object-fit: cover;
}

.about .image-7 {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 4px;
    left: 0;
    object-fit: cover;
}

.about .image-8 {
    position: absolute;
    width: 75px;
    height: 138px;
    top: 0;
    left: 330px;
    object-fit: cover;
}

.about .image-9 {
    position: absolute;
    width: 169px;
    height: 105px;
    top: 306px;
    left: 43px;
    object-fit: cover;
}

.about .image-10 {
    position: absolute;
    width: 108px;
    height: 128px;
    top: 290px;
    left: 241px;
    object-fit: cover;
}

.about .image-11 {
    position: absolute;
    width: 113px;
    height: 113px;
    top: 301px;
    left: 385px;
    object-fit: cover;
}

.about .copy-3 {
    width: 624px;
    height: 456px;
    top: 1437px;
    left: 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-s);
    position: absolute;
}

.about .paragraph-2 {
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.about .section {
    position: absolute;
    width: 1440px;
    height: 236px;
    top: 1936px;
    left: 0;
    background-color: #f7f7f7;
}

.about .group-2 {
    position: absolute;
    width: 493px;
    height: 52px;
    top: 52px;
    left: 863px;
}

.about .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.about .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.about .text-wrapper-4 {
    position: absolute;
    height: 30px;
    top: 11px;
    left: 142px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.about .text-wrapper-5 {
    position: absolute;
    height: 30px;
    top: 11px;
    left: 283px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.about .text-wrapper-6 {
    position: absolute;
    height: 30px;
    top: 11px;
    left: 410px;
    color: #000000;
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-height);
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.contact {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contact .div {
    background-color: #ffffff;
    width: 1440px;
    height: 906px;
    position: relative;
}

.contact .text-wrapper {
    position: absolute;
    width: 192px;
    top: 194px;
    left: 652px;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: #000000;
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
}

.contact .group {
    position: absolute;
    width: 166px;
    height: 235px;
    top: 332px;
    left: 994px;
}

.contact .overlap-group {
    position: relative;
    width: 164px;
    height: 235px;
}

.contact .text-wrapper-2 {
    position: absolute;
    height: 36px;
    top: 199px;
    left: 37px;
    font-family: var(--subheading-font-family);
    font-weight: var(--subheading-font-weight);
    color: #828282;
    font-size: var(--subheading-font-size);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    white-space: nowrap;
    font-style: var(--subheading-font-style);
}

.contact .image {
    width: 164px;
    height: 204px;
    position: absolute;
    top: 0;
    left: 0;
}

.contact .group-2 {
    position: absolute;
    width: 199px;
    height: 240px;
    top: 327px;
    left: 630px;
}

.contact .text-wrapper-3 {
    position: absolute;
    width: 80px;
    height: 36px;
    top: 204px;
    left: 59px;
    font-family: var(--subheading-font-family);
    font-weight: var(--subheading-font-weight);
    color: #828282;
    font-size: var(--subheading-font-size);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    font-style: var(--subheading-font-style);
}

.contact .img {
    width: 197px;
    height: 197px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contact .group-3 {
    position: absolute;
    width: 183px;
    height: 224px;
    top: 343px;
    left: 282px;
}

.contact .text-wrapper-4 {
    position: absolute;
    width: 96px;
    height: 36px;
    top: 188px;
    left: 43px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
}

.contact .image-2 {
    width: 181px;
    height: 181px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contact .overlap {
    position: absolute;
    width: 186px;
    height: 60px;
    top: 39px;
    left: 67px;
}

.contact .julia-lokerson {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.contact .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    position: absolute;
    top: 40px;
    left: 850px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.contact .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.contact .text-wrapper-6 {
    position: absolute;
    height: 30px;
    top: 50px;
    left: 992px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.contact .text-wrapper-7 {
    position: absolute;
    height: 30px;
    top: 50px;
    left: 1133px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.contact .text-wrapper-8 {
    position: absolute;
    height: 30px;
    top: 50px;
    left: 1260px;
    color: #000000;
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-height);
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.contact .section {
    position: absolute;
    width: 1440px;
    height: 236px;
    top: 670px;
    left: 0;
    background-color: #f7f7f7;
}

.projects {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.projects .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1442px;
    height: 2326px;
    position: relative;
}

.projects .overlap-group {
    position: absolute;
    width: 186px;
    height: 60px;
    top: 51px;
    left: 80px;
}

.projects .julia-lokerson {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.projects .text-wrapper {
    width: 251px;
    top: 173px;
    left: 596px;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    position: absolute;
    color: #000000;
    font-style: var(--title-font-style);
}

.projects .section {
    position: absolute;
    width: 1440px;
    height: 236px;
    top: 2090px;
    left: -18px;
    background-color: #f7f7f7;
}

.projects .group {
    position: absolute;
    width: 744px;
    height: 414px;
    top: 310px;
    left: 56px;
}

.projects .text-wrapper-2 {
    position: absolute;
    width: 742px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
}

.projects .copy {
    height: 336px;
    top: 78px;
    display: flex;
    flex-direction: column;
    width: 624px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    left: 0;
}

.projects .paragraph {
    margin-bottom: -23.00px;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.projects .group-2 {
    position: absolute;
    width: 744px;
    height: 408px;
    top: 767px;
    left: 56px;
}

.projects .paragraph-wrapper {
    height: 336px;
    top: 72px;
    display: flex;
    flex-direction: column;
    width: 624px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    left: 0;
}

.projects .p {
    margin-bottom: -263.00px;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.projects .group-3 {
    position: absolute;
    width: 744px;
    height: 423px;
    top: 1465px;
    left: 56px;
}

.projects .div-wrapper {
    height: 335px;
    top: 88px;
    display: flex;
    flex-direction: column;
    width: 624px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    left: 0;
}

.projects .paragraph-2 {
    margin-bottom: -174.00px;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.projects .group-4 {
    position: absolute;
    width: 493px;
    height: 52px;
    top: 52px;
    left: 863px;
}

.projects .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.projects .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.projects .text-wrapper-4 {
    position: absolute;
    height: 30px;
    top: 11px;
    left: 142px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #000000;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.projects .text-wrapper-5 {
    height: 30px;
    top: 11px;
    left: 283px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    position: absolute;
    color: #000000;
    font-style: var(--body-text-font-style);
}

.projects .text-wrapper-6 {
    position: absolute;
    height: 30px;
    top: 11px;
    left: 410px;
    color: #000000;
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-height);
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}
